/*
.
.
.
.
.
Flex
.
.
.
.*/
.flex{
    display: flex;

}
.flex-wrap{
    flex-wrap: wrap;
    display: flex;
}
.flex-direction-columnn{
    flex-direction: column;
}
.jc-center{
    justify-content: center;
}
.jc-space-around{
    justify-content: space-around;
}
.ai-center{
    align-items: center;
}
.text-align-center{
    text-align: center;
}
.caps{
    text-transform: uppercase;
}
.fw100{
font-weight: 100;
}
.fw200{
font-weight: 200;
}
.fw300{
font-weight: 300;
}
.fw400{
font-weight: 400;
}
.fw500{
font-weight: 500;
}
.fw600{
font-weight: 600;
}
.fw700{
font-weight: 700;
}
.fw800{
font-weight: 800;
}
.fw900{
font-weight: 900;
}
/*.
.
.
.
 Header  Stuff
.
.
.
.
*/
.intro-wallpaper{
    background: url('./Header/img/waterfall.jpeg');
    background-size: cover;
    background-position: 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}
.header-menu{
  display: flex;
  height: 80px;
  background-color: #222222;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;


}
.menu-items{
  display: flex;
  flex-direction: row;

}
.menu-items p {
  padding: 20px;
  font-size: 16px;
  color: white;
  letter-spacing: .1px;
  font-weight: 100;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: .3s;
  cursor: pointer;
}
.menu-items p:hover{
  opacity: 0.5;
}


.header-logo{
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.header-logo img{
  height: 50px;
  transition: .3s;
}
.header-logo img:hover{
  opacity: 0.5;
}
.header-space{

}

/*.
.
.
.
Landing
.
.
.
.
*/
.landing-page{
  display: flex;
  height: 100vh;
  flex-direction: column;


}
.landing-text{
  color:white;
  font-family: 'Montserrat', 'sans-serif', Helvetica, Arial, sans-serif;
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 15px;
  text-align: center;

}
.intro-content{
    color: white;
    text-align: center;
    display: flex;

    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 75vh;
}

.landing-text-subtext{
  font-size: 30px;
  line-height: 30px;
}
.scroll-down{
 text-align: -webkit-center;
}
.scroll-down div{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100% !important;
    line-height: 50px;
    color: white;
    font-size: 39px;
    transition: .3s;
}
.scroll-down div:hover{
  border: 2px solid grey;
  color: grey;

}

/*..
..
..
..
About
..
..
..
..*/
.about-page{
    background: white;
}
.i-like{
    font-size: 55px;
    margin: 60px 0 60px 0;
    color:#222222;
}
.about-content-title{
    font-size: 24px;
    text-align: center;
    margin: 25px 0 25px 0;
    color:#222222;
}
.about-icons{
    font-size: 36px;
    text-align: center;
    margin: auto;
        color:#222222;

}
.about-subcontent{
    font-size: 18px;
    font-family: "Helvetica Neue";
    width: 250px;
    text-align: center;
    height: 200px;

}
.about-content{
        font-size: 65px;
}


/*.
.
.
.
.
.Quote
.
.
.
.*/
.quote-traveler{
    background: url('./img/traveler.jpg');
    background-size: cover;
    background-position: 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 55vh;

}
.quote-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}
.john-mayer-quote{
  font-family:  'sans-serif', Helvetica, Arial, sans-serif;
      color: white;
      font-size: 40px;
      font-weight: 100;
}
.john-mayer{
font-size: 20px;
color: white;
 font-family:  'sans-serif', Helvetica, Arial, sans-serif;
 font-weight: 100;
 margin-top: 30px;
}

.element {

  font-size: 45px;
  padding-top:55px;
  padding-left:10px;
}

.active {
  color:teal !important;
}
.scroll-class{
  color:white;
}
